@use "../abstracts" as *;

// ================================================================
// ------------------------ BASE ELEMENTS -------------------------
// ================================================================

body {
  background-color: $color-background;
}

/* Inputs, buttons etc. */
button {
  cursor: pointer;
}

// ================================================================
// -------------------------- ANIMATIONS --------------------------
// ================================================================

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
