@use "../abstracts" as *;

// ================================================================
// ------------------------ BASE ELEMENTS -------------------------
// ================================================================

body {
  background-color: $color-background;
}

/* Inputs, buttons etc. */
button {
  cursor: pointer;
}
